<h1>Create a New Food</h1>
<%= form_for @food do |f| %>

	<%= label_tag(:item, "Item") %>
	<%= f.text_field :item %> </br>

	<%= label_tag(:description, "Decription") %>
	<%= f.text_area :description %></br>
	<%= f.submit "Create" %>

	<% end %>